<div class="row">
    <div class="col-md-12">
        <div class="row">
            <div class="col-md-4 mx-auto">
                <h2>forma de pago</h2>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <mat-form-field>
                <mat-label>Select direccion</mat-label>
                <mat-select>
                    <mat-option>v</mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        <div class="col-md-6">
            <button>Ver Factura</button>
        </div>
    </div>
    <div class="col-md-12 p-4">
        <mat-tab-group>
            <mat-tab label="Paypal">
                <!--********************Paypal********************************-->
                <input type="text">
                <button>comprar</button>
            </mat-tab>
            <mat-tab label="Transferencia Bancaria">
                <!--********************Transferencia Bancaria********************************-->
                <div class="row">
                    <div class="col-md-10 mx-auto my-2">
                        <mat-card>
                            <div class="row">
                                <div class="col-md-6">
                                    <mat-card-content>
                                        ver
                                    </mat-card-content>
                                </div>
                                <div class="col-md-6">
                                    <mat-card-content>
                                        ver
                                    </mat-card-content>
                                </div>
                            </div>
                        </mat-card>
                    </div>
                </div>
                <form [formGroup]="formTransBanc" (ngSubmit)="onSubmit2()" enctype="multipart/form-data">
                    <mat-grid-list cols="2" rowHeight="300px">
                        <mat-grid-tile>
                            <div class="controleContainer my-2">
                                <mat-form-field [hidden]="true">
                                    <input type="text" formControlName="idformapago" matInput placeholder="idformapago">
                                    <mat-error>El campo $key es obligatorio</mat-error>
                                </mat-form-field>
                                <mat-form-field>
                                    <mat-label>Select Factura</mat-label>
                                    <mat-select formControlName="idfactura">
                                        <input type="text" class="form-control" placeholder="Search">
                                        <mat-option></mat-option>
                                    </mat-select>
                                </mat-form-field>
                                <div class="container-input-file">
                                    <div class="custom-file">
                                        <input formControlName="image" type="file" name="image"
                                            (change)="onPhotoSelected($event)" #photoInput>
                                    </div>
                                </div>
                                <label for="">Estado</label>
                                <mat-radio-group formControlName="estado">
                                    <mat-radio-button value="1">Activo</mat-radio-button>
                                    <mat-radio-button value="2">Inactivo</mat-radio-button>
                                </mat-radio-group>
                                <div class="row">
                                    <div class="col">
                                        <button mat-fab color="primary" type="submit"
                                            [disabled]="formTransBanc.invalid">Submit</button>
                                    </div>
                                    <div class="col">
                                        <button type="button" class="btn btn-warning btn-lg">Clear</button>
                                    </div>
                                    <div class="col">
                                        <button type="button" class="btn btn-danger btn-lg"
                                            (click)="onGetClearTB()">Close</button>
                                    </div>
                                </div>
                            </div>
                        </mat-grid-tile>
                        <mat-grid-tile>
                            <img [src]="photoSelected || '../../../../assets/img/noImage.jpg'" alt="" width="500"
                                height="400" (click)="photoInput.click()">
                        </mat-grid-tile>
                    </mat-grid-list>
                </form>
            </mat-tab>
            <mat-tab label="Efectivo">
                <!--********************Efectivo********************************-->
            </mat-tab>
        </mat-tab-group>
    </div>
</div>