<div class="row">
    <div class="col-md-12">
        <div class="row">
            <div class="col-md-4 mx-auto">
                <h2>forma de pago</h2>
            </div>
        </div>
    </div>
    <div class="col-md-12">
        <div class="row">
            <div class="col-md-5 mx-auto">
                <form [formGroup]="formFormPago" (ngSubmit)="onSubmit1()" enctype="multipart/form-data">
                    <mat-card>
                        <mat-card-content>
                            <div class="controleContainer m-4">
                                <mat-form-field [hidden]="true">
                                    <input type="text" formControlName="idformapago" matInput placeholder="idformapago">
                                    <mat-error>El campo $key es obligatorio</mat-error>
                                </mat-form-field>
                                <mat-form-field>
                                    <mat-label>Select numero Factura</mat-label>
                                    <mat-select formControlName="idfactura">
                                        <mat-option *ngFor="let item of personaFactura" value="{{item.idfactura}}">
                                            {{item.numfactura}}</mat-option>
                                    </mat-select>
                                </mat-form-field>
                                <mat-form-field>
                                    <mat-label>Select forma de pago</mat-label>
                                    <mat-select formControlName="idtipopago" (selectionChange)="onValueChange($event)">
                                        <mat-option *ngFor="let item of tipoPago" [value]="item.idtipopago">
                                            {{item.nombre}}</mat-option>
                                    </mat-select>
                                </mat-form-field>
                                <label for="">Estado</label>
                                <mat-radio-group formControlName="estado">
                                    <mat-radio-button value="1">Activo</mat-radio-button>
                                    <mat-radio-button value="0">Inactivo</mat-radio-button>
                                </mat-radio-group>
                                <div class="row">
                                    <div class="col">
                                        <button mat-fab color="primary" type="submit"
                                            [disabled]="formFormPago.invalid">Submit</button>
                                    </div>
                                </div>
                            </div>
                        </mat-card-content>
                    </mat-card>
                </form>
            </div>
        </div>
    </div>
    <div class="col-md-12 p-4">
        <mat-tab-group mat-align-tabs="center" [selectedIndex]="activeTab">
            <mat-tab label="Paypal">
                <!--********************Paypal********************************-->
                <div class="row">
                    <div class="col-md-12">
                        <div class="row">
                            <div class="col-md-5 mx-auto m-4">
                                <mat-card>
                                    <mat-card-content>
                                        <mat-form-field>
                                            <mat-label>Select numero Factura</mat-label>
                                            <mat-select>
                                                <mat-option *ngFor="let item of Paypaltransbefec1"
                                                    value="{{item.idfactura}}">
                                                    {{item.numfactura}}</mat-option>
                                            </mat-select>
                                        </mat-form-field>
                                    </mat-card-content>
                                </mat-card>
                            </div>
                        </div>
                    </div>
                </div>
                <button>comprar</button>
            </mat-tab>
            <mat-tab label="Transferencia Bancaria">
                <!--********************Transferencia Bancaria********************************-->
                <div class="row">
                    <div class="col-md-10 mx-auto my-2">
                        <mat-card>
                            <div class="row">
                                <div class="col-mg-3 mx-auto">
                                    <h2 class="text-center">Datos Generales</h2>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <mat-card-content>
                                        <b>Nombres:</b>
                                        <h5>Ing</h5>
                                        <b>Apellidos:</b>
                                        <h5>Ing</h5>
                                        <b>Cedula:</b>
                                        <h5>17</h5>
                                    </mat-card-content>
                                </div>
                                <div class="col-md-6">
                                    <mat-card-content>
                                        <b>Tipo de Cuenta:</b>
                                        <h5>Ing</h5>
                                        <b>Numero de Cuenta:</b>
                                        <h5>Ing</h5>
                                        <b>Banco:</b>
                                        <h5>Pichincha</h5>
                                    </mat-card-content>
                                </div>
                            </div>
                        </mat-card>
                    </div>
                </div>
                <form [formGroup]="formTransBanc" (ngSubmit)="onSubmit2()" enctype="multipart/form-data">
                    <mat-grid-list cols="2" rowHeight="300px">
                        <mat-grid-tile>
                            <h2>Forma de pago</h2>
                            <div class="controleContainer my-2">
                                <mat-form-field [hidden]="true">
                                    <input type="text" formControlName="idformapago" matInput placeholder="idformapago">
                                    <mat-error>El campo $key es obligatorio</mat-error>
                                </mat-form-field>
                                <mat-form-field>
                                    <mat-label>Select numero Factura</mat-label>
                                    <mat-select>
                                        <mat-option *ngFor="let item of Paypaltransbefec2"
                                            value="{{item.idfactura}}">
                                            {{item.numfactura}}</mat-option>
                                    </mat-select>
                                </mat-form-field>
                                <div class="container-input-file">
                                    <div class="custom-file">
                                        <input formControlName="image" type="file" name="image"
                                            (change)="onPhotoSelected($event)" #photoInput>
                                    </div>
                                </div>
                                <label for="">Estado</label>
                                <mat-radio-group formControlName="estado">
                                    <mat-radio-button value="1">Activo</mat-radio-button>
                                    <mat-radio-button value="2">Inactivo</mat-radio-button>
                                </mat-radio-group>
                                <div class="row">
                                    <div class="col">
                                        <button mat-fab color="primary" type="submit"
                                            [disabled]="formTransBanc.invalid">Submit</button>
                                    </div>
                                </div>
                            </div>
                        </mat-grid-tile>
                        <mat-grid-tile>
                            <img [src]="photoSelected || '../../../../assets/img/noImage.jpg'" alt="" width="500"
                                height="400" (click)="photoInput.click()">
                        </mat-grid-tile>
                    </mat-grid-list>
                </form>
            </mat-tab>
            <mat-tab label="Efectivo">
                <!--********************Efectivo********************************-->
                <div class="row">
                    <div class="col-md-12">
                        <div class="row p-4">
                            <div class="col-md-5 mx-auto">
                                <mat-card>
                                    <mat-card-content>
                                        <mat-form-field>
                                            <mat-label>Select numero Factura</mat-label>
                                            <mat-select>
                                                <mat-option *ngFor="let item of Paypaltransbefec3"
                                                    value="{{item.idfactura}}">
                                                    {{item.numfactura}}</mat-option>
                                            </mat-select>
                                        </mat-form-field>
                                    </mat-card-content>
                                </mat-card>
                            </div>
                        </div>
                    </div>
                </div>
            </mat-tab>
        </mat-tab-group>
    </div>
</div>

<!---***************************************-->