<!-- <div class=" m-4 borderHeader colorFondo">
    <div class="row">
        <div class="col d-flex justify-content-start align-items-center ">
            <img src="../../../assets/img/tdtd.png" alt="" width="50%" height="50%" class="m-4">
        </div>
        <div class="col d-flex justify-content-center align-items-end">
            <img src="../../../assets/img/euk.png" alt="" width="50%" height="50%">
        </div>
    </div>
</div> -->
<div class="p-1">
    <canvas #canva ></canvas>
</div>