<!-- <div class=" m-4 borderHeader colorFondo">
    <div class="row">
        <div class="col d-flex justify-content-start align-items-center ">
            <img src="../../../assets/img/tdtd.png" alt="" width="50%" height="50%" class="m-4">
        </div>
        <div class="col d-flex justify-content-center align-items-end">
            <img src="../../../assets/img/euk.png" alt="" width="50%" height="50%">
        </div>
    </div>
</div> -->
<div #colorf>
    <div class="row">
        <div class="col d-flex justify-content-start align-items-center ">
            <img src="../../../assets/img/tdtd.png" alt="" class="imgHeader mx-4 my-2">
        </div>
    </div>
    <div class="row">
        <div class="col d-flex justify-content-end align-items-end">
            <img src="../../../assets/img/euk.png" alt="" class="imgHeader mx-4">
        </div>
    </div>
</div>
