<form [formGroup]="formPersonaAdmin" (ngSubmit)="onSubmit()" enctype="multipart/form-data">
    <mat-grid-list cols="2" rowHeight="450px">
        <mat-grid-tile>
            <div class="col-sm-12">
                <div class="controleContainer">
                    <mat-form-field [hidden]="true">
                        <mat-label>Id</mat-label>
                        <input matInput formControlName="idpersona">
                    </mat-form-field>
                    <mat-form-field>
                        <mat-label>Cedula</mat-label>
                        <input matInput formControlName="cedula">
                    </mat-form-field>
                    <mat-form-field>
                        <mat-label>Nombres</mat-label>
                        <input matInput formControlName="nombres">
                    </mat-form-field>
                    <mat-form-field>
                        <mat-label>Apellidos</mat-label>
                        <input matInput formControlName="apellidos">
                    </mat-form-field>
                    <mat-form-field>
                        <mat-label>Choose a date</mat-label>
                        <input matInput [matDatepicker]="picker" formControlName="fechanacimiento">
                        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                        <mat-datepicker #picker></mat-datepicker>
                    </mat-form-field>
                    <div class="row">
                        <div class="col">
                            <button type="button" class="btn btn-primary btn-lg" (click)="onOpenFormTelef()">Add
                                telefono</button>
                        </div>
                    </div>
                    <mat-form-field>
                        <mat-label>Select telefono</mat-label>
                        <mat-select formControlName="idtelefono" (click)="onGetReiniciarDirecTele()">
                            <mat-option *ngFor="let item of arregloTelefono" value="{{item.idtelefono}}">
                                {{item.convencional}}</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
            </div>
        </mat-grid-tile>
        <mat-grid-tile>
            <div class="col-sm-12">
                <div class="controleContainer">
                    <div class="row">
                        <div class="col">
                            <button type="button" class="btn btn-primary btn-lg" (click)="onOpenFormDirecc()">Add
                                Direccion</button>
                        </div>
                    </div>
                    <mat-form-field>
                        <mat-label>Select direccion</mat-label>
                        <mat-select formControlName="iddireccion" (click)="onGetReiniciarDirecTele()">
                            <mat-option *ngFor="let item of arregloDireccion" value="{{item.iddireccion}}">
                                {{item.parroquia}}/{{item.calleprincipal}}/{{item.numeracion}}/{{item.callesecundaria}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                    <mat-form-field>
                        <mat-label>Email</mat-label>
                        <input matInput formControlName="email">
                    </mat-form-field>
                    <mat-form-field>
                        <mat-label>Password</mat-label>
                        <input matInput formControlName="password" [type]="hide ? 'password' : 'text'">
                        <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
                            [attr.aria-pressed]="hide">
                            <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                        </button>
                    </mat-form-field>
                    <mat-form-field>
                        <mat-label>Select Requerimiento</mat-label>
                        <mat-select formControlName="requerimiento">
                            <mat-option *ngFor="let item of arregloCategoria" value="{{item.nombre}}">
                                {{item.nombre}}</mat-option>
                        </mat-select>
                    </mat-form-field>
                    <label for="">Estado</label>
                    <mat-radio-group matInput formControlName="estado">
                        <mat-radio-button value="1">Activo</mat-radio-button>
                        <mat-radio-button value="2">Inactivo</mat-radio-button>
                    </mat-radio-group>
                    <div class="row">
                        <div class="col">
                            <button mat-fab color="primary" type="submit"
                                [disabled]="formPersonaAdmin.invalid">Submit</button>
                        </div>
                        <div class="col">
                            <button type="button" class="btn btn-warning btn-lg" (click)="onGetClear()">Clear</button>
                        </div>
                        <div class="col">
                            <button type="button" class="btn btn-danger btn-lg" (click)="onGetClose()">Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </mat-grid-tile>
    </mat-grid-list>
</form>