<div class="row">
    <div class="col">
        <mat-form-field class="search-form-field">
            <input matInput [(ngModel)]="searchKey" placeholder="search" autocomplete="off" (keyup)="searchFiltrer()"
                class="inputSearch">
            <button mat-button matSuffix mat-icon-button aria-label="Clear" *ngIf="searchKey" (click)="onSearchClear()">
                <mat-icon>close</mat-icon>
            </button>
        </mat-form-field>
    </div>
</div>
<div class="card">
    <div class="card-body">
        <h6 class="text-center">Facturas en General</h6>
        <div>
            <div class="mat-elevation-z8 ">
                <mat-table [dataSource]="listfactadmin" matSort>
                    <ng-container matColumnDef="cedula">
                        <mat-header-cell *matHeaderCellDef mat-sort-header>cedula</mat-header-cell>
                        <mat-cell *matCellDef="let element">{{ element.cedula}}</mat-cell>
                    </ng-container>
                    <ng-container matColumnDef="nombres">
                        <mat-header-cell *matHeaderCellDef mat-sort-header>nombres</mat-header-cell>
                        <mat-cell *matCellDef="let element">{{element.nombres}}</mat-cell>
                    </ng-container>
                    <ng-container matColumnDef="apellidos">
                        <mat-header-cell *matHeaderCellDef mat-sort-header>apellidos</mat-header-cell>
                        <mat-cell *matCellDef="let element">{{ element.apellidos}}</mat-cell>
                    </ng-container>
                    <ng-container matColumnDef="numfactura">
                        <mat-header-cell *matHeaderCellDef mat-sort-header>numero de factura</mat-header-cell>
                        <mat-cell *matCellDef="let element">{{ element.numfactura}}</mat-cell>
                    </ng-container>
                    <ng-container matColumnDef="total">
                        <mat-header-cell *matHeaderCellDef mat-sort-header>total</mat-header-cell>
                        <mat-cell *matCellDef="let element">{{ element.total}}</mat-cell>
                    </ng-container>
                    <ng-container matColumnDef="fecha">
                        <mat-header-cell *matHeaderCellDef mat-sort-header>fecha</mat-header-cell>
                        <mat-cell *matCellDef="let element">{{ element.created_at | date: 'dd/MM/yyyy'}}</mat-cell>
                    </ng-container>
                    <!--
                    <ng-container matColumnDef="actions">
                        <mat-header-cell *matHeaderCellDef></mat-header-cell>
                        <mat-cell *matCellDef="let row">
                            <button mat-icon-button>
                                <mat-icon>edit</mat-icon>
                            </button>
                            <button mat-icon-button color="warn">
                                <mat-icon>delete</mat-icon>
                            </button>
                        </mat-cell>
                    </ng-container>
                -->
                    <ng-container matColumnDef="loading">
                        <mat-footer-cell *matFooterCellDef colspan="6">
                            Loading data...
                        </mat-footer-cell>
                    </ng-container>
                    <ng-container matColumnDef="noData">
                        <mat-footer-cell *matFooterCellDef colspan="6">
                            <p class="letterBg"><span>Precio total de las Facturas $ {{ fcaturaTotal }}</span></p> 
                        </mat-footer-cell>
                    </ng-container>
                    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                    <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
                    <mat-footer-row *matFooterRowDef="['loading']" [ngClass]="{'hide': listfactadmin !== null}">
                    </mat-footer-row>
                    <mat-footer-row *matFooterRowDef="['noData']"
                        [ngClass]="{'hide': !(listfactadmin != null && listfactadmin.data.length===0)}">
                    </mat-footer-row>
                </mat-table>
                <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" [pageSize]="5"></mat-paginator>
            </div>
        </div>
    </div>
</div>
