<div class="row my-4">
    <div class="col-md-12">
        <div class="row">
            <div class="col-md-3">
                <p>Factura</p>
                <button (click)="dowload()">Descragar</button>
                <button (click)="viewPdf()">Ver</button>
            </div>
            <div class="col-md-12">
                    <pdf-viewer [src]="prueba" [render-text]="true" [original-size]="true" [show-all]="true"
                            [autoresize]="true"></pdf-viewer>
            </div>
        </div>
    </div>
</div>

