  <div class="imgPrincipal d-flex justify-content-center align-items-center">
    <div class="row cajaPadre d-flex justify-content-center align-items-center">
      <div class="hijo1 d-flex justify-content-center">
        Ventas 100% seguras
      </div>
      <div class="hijo2">
        <a href="" class="d-flex justify-content-center">
          <img src="../../../assets/img/carrito.jpg" alt="" width="30%" height="30%"></a>
          <button [routerLink]="['/clientCategoriaoList']">Comprar</button>
      </div>
    </div>
  </div>
  <h2>PROMOCIONES</h2>
  

