<form [formGroup]="formProducto" (ngSubmit)="onSubmit()" enctype="multipart/form-data">
    <mat-grid-list cols="2" rowHeight="430px">
        <mat-grid-tile>
            <div class="controleContainer">
                <mat-form-field [hidden]="true">
                    <!--[hidden]="true"-->
                    <input type="text" formControlName="idProducto" matInput placeholder="idProducto">
                    <mat-error>El campo $key es obligatorio</mat-error>
                </mat-form-field>
                <mat-form-field>
                    <mat-label>Categoria</mat-label>
                    <mat-select formControlName="idCategoria" matInput>
                        <mat-option *ngFor="let item of arrayCategoria" [value]="item.idcategoria">
                            {{ item.nombre }}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
                <mat-form-field>
                    <input formControlName="nombre" matInput placeholder="nombre">
                </mat-form-field>
                <div class="container-input-file">
                    <div class="custom-file">
                        <input formControlName="image" type="file" name="image" (change)="onPhotoSelected($event)"
                            #photoInput>
                    </div>
                </div>
                <mat-form-field>
                    <input type="number" formControlName="precio" matInput placeholder="precio">
                </mat-form-field>
                <mat-form-field>
                    <input type="number" formControlName="stock" matInput placeholder="stock">
                </mat-form-field>
                <label for="">Estado</label>
                <mat-radio-group  formControlName="estado" matInput>
                    <mat-radio-button  value="1">Activo</mat-radio-button>
                    <mat-radio-button value="2">Inactivo</mat-radio-button>
                </mat-radio-group>
                <div class="row">
                    <div class="col">
                        <button type="submit" class="btn btn-primary btn-lg btn-block"
                            [disabled]="formProducto.invalid">Save</button>
                    </div>
                    <div class="col">
                        <button type="button" class="btn btn-warning btn-lg">Clear</button>
                    </div>
                    <div class="col">
                        <button type="button" class="btn btn-danger btn-lg" (click)="onCloseDialog()">Close</button>
                    </div>
                </div>
            </div>
        </mat-grid-tile>
        <mat-grid-tile>
            <div class="controleContainer">
                <img [src]="photoSelected || '../../../../assets/img/noImage.jpg'" alt="" width="500" height="400"
                    (click)="photoInput.click()">
            </div>
        </mat-grid-tile>
    </mat-grid-list>
</form>