<mat-sidenav-container>
  <mat-sidenav mode="side" [(opened)]="opened">
    <mat-accordion>
      <br>
      <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
        <mat-expansion-panel-header>
          <mat-panel-title>
            Admin
          </mat-panel-title>
        </mat-expansion-panel-header>
          <mat-list role="list">
            <mat-list-item [routerLink]="['/productos']"> Productos</mat-list-item>
            <mat-list-item [routerLink]="['/categorias']"> Categorias</mat-list-item>
          </mat-list>
      </mat-expansion-panel>
      <!---->
      <!---->
      <!---->
      <!---->
      <!---->
      <!---->
    </mat-accordion>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar class="example-toolbar colorToolbar">
      <button mat-icon-button (click)="opened = !opened">
        <mat-icon>menu</mat-icon>
      </button >
      <button [routerLink]="['/login']">login</button >
    </mat-toolbar>
    <main>
      <router-outlet></router-outlet>
      <button  appBackto class="" (click)="backto()"><mat-icon>keyboard_backspace</mat-icon></button>
    </main>
  </mat-sidenav-content>
</mat-sidenav-container>