<form>
    <mat-grid-list cols="2" rowHeight="300px">
        <mat-grid-tile>
            <div class="controleContainer">
                <input type="hidden" name="">
                <mat-form-field>
                    <mat-label>Categoria</mat-label>
                    <mat-select>
                        <mat-option>libros</mat-option>
                        <mat-option>herramientas</mat-option>
                    </mat-select>
                </mat-form-field>
                <mat-form-field>
                    <input matInput placeholder="Nombre">
                </mat-form-field>
                <div class="container-input-file">
                    <div class="custom-file">
                        <input type="file" name="" id="">
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <button type="button" class="btn btn-primary btn-lg btn-block">Save</button>
                    </div>
                    <div class="col">
                        <button type="button" class="btn btn-danger btn-lg">Delete</button>
                    </div>
                    <div class="col">
                        <button type="button" class="btn btn-warning btn-lg">Clear</button>
                    </div>
                </div>
            </div>
        </mat-grid-tile>
        <mat-grid-tile>
            <div class="controleContainer">
                <mat-form-field>
                    <input matInput placeholder="precio">
                </mat-form-field>
                <mat-form-field>
                    <input matInput placeholder="stock">
                </mat-form-field>
                <mat-form-field>
                    <mat-label>Estado</mat-label>
                    <mat-select>
                        <mat-option value="1">Activo</mat-option>
                        <mat-option value="2">Inactivo</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
        </mat-grid-tile>
    </mat-grid-list>
</form>